openapi: 3.0.3
info:
  title: Budgeting app
  description: |-
    A budgeting app that gives more granularity to spending
    by tracking not just transactions, but what was bought in
    each transaction. Reports are generated based the transaction
    category and items in each transaction.
  version: 1.0-SNAPSHOT
servers:
  - url: https://testenvironment.org/api/v1
  - url: https://prodenvironment.org/api/v1
tags:
  - name: user, transaction, account, transaction_item, budget_category, recurring_payments
paths:
  /account/user/{userId}:
    $ref: 'account/account-paths.yml#/paths/~1account~1user~1{userId}'
  /account/{accountId}:
    $ref: 'account/account-paths.yml#/paths/~1account~1{accountId}'
  /account:
    $ref: 'account/account-paths.yml#/paths/~1account'
  /login:
    $ref: 'user/user-paths.yml#/paths/~1login'
  /register:
    $ref: 'user/user-paths.yml#/paths/~1register'
  /transaction/{transactionId}:
    $ref: 'transaction/transaction-paths.yml#/paths/~1transaction~1{transactionId}'
  /transaction:
    $ref: 'transaction/transaction-paths.yml#/paths/~1transaction'
  /transaction/{userId}:
    $ref: 'transaction/transaction-paths.yml#/paths/~1transaction~1{userId}'
  /transaction/transfer:
    $ref: 'transaction/transaction-paths.yml#/paths/~1transaction~1transfer'
  /transaction-item:
    $ref: 'transaction-item/transaction-items-paths.yml#/paths/~1transaction-item'
  /transaction-item/{transactionId}:
    $ref: 'transaction-item/transaction-items-paths.yml#/paths/~1transaction-item~1{transactionId}'
  /transaction-item/{transactionItemId}:
    $ref: 'transaction-item/transaction-items-paths.yml#/paths/~1transaction-item~1{transactionItemId}'
  /transaction-item/budget/{budgetCategoryId}:
    $ref: 'transaction-item/transaction-items-paths.yml#/paths/~1transaction-item~1budget~1{budgetCategoryId}'
  /budget-category/{userId}:
    $ref: 'budget-category/budget-category-paths.yml#/paths/~1budget-category~1{userId}'
  /budget-category:
    $ref: 'budget-category/budget-category-paths.yml#/paths/~1budget-category'
  /recurring-payment/{userId}:
    $ref: 'recurring-payment/recurring-payment-paths.yml#/paths/~1recurring-payment~1{userId}'
  /recurring-payment:
    $ref: 'recurring-payment/recurring-payment-paths.yml#/paths/~1recurring-payment'
  /recurring-payment/{recurringPaymentId}:
    $ref: 'recurring-payment/recurring-payment-paths.yml#/paths/~1recurring-payment~1{recurringPaymentId}'
